[submodule "vendor/tree-sitter"]
	path = tree-sitter/vendor/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "languages/nix/vendor/tree-sitter-nix"]
	path = tree-sitter-nix/vendor/tree-sitter-nix
	url = https://github.com/cstrahan/tree-sitter-nix
